{% extends 'base/base.html' %}


{% block content %}


<h2>
    Bienvenido {{ user.username }}
</h2>


{% if usuario_asistencia %}


<h3>
    Listado de confirmandos de la {{ usuario_asistencia.asistenciaCabecera.descripcion }}
</h3>


<p>
    Acrónimo:
    {{ usuario_asistencia.asistenciaCabecera.acronimo }}
</p>

<!---tabla-->

<div class="card">


<h2>👥 Lista de Confirmandos</h2>

<!---
<input 
id="search" 
class="search" 
placeholder="Buscar confirmando..."
>
-->
<div class="barra-filtros">

    <input
        id="search"
        class="search"
        placeholder="Buscar confirmando..."
    >

    <label>
        <input
            type="checkbox"
            id="chkActivos"
            checked
        >
        Activos
    </label>

    <label>
        <input
            type="checkbox"
            id="chkInactivos"
            checked
        >
        Inactivos
    </label>

</div>

<table>


<thead>

<tr>
<th>#</th>
<th>Código</th>
<th>Nombres</th>
<th>Apellidos</th>
<th>Fecha Nacimiento</th>
<th>Estado</th>
</tr>

</thead>



<tbody id="body">

</tbody>


</table>


</div>





<style>


.card{

margin-top:20px;
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 15px #ddd;

}


.search{

padding:10px;
width:300px;
margin-bottom:15px;

}


table{

width:100%;
border-collapse:collapse;

}


th{

background:#34495e;
color:white;
padding:12px;

}


td{

padding:12px;
border-bottom:1px solid #eee;

}


tr:hover{

background:#eef8ff;

}


.badge{

background:#3498db;
color:white;
padding:5px 10px;
border-radius:20px;

}


.barra-filtros{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
    flex-wrap:wrap; /* Para que en móviles se acomoden debajo */
}

.search{
    width:300px;
    padding:10px;
    margin-bottom:0;
}

.barra-filtros label{
    display:flex;
    align-items:center;
    gap:5px;
    cursor:pointer;
    font-weight:500;
}

.indice{

    display:inline-flex;
    justify-content:center;
    align-items:center;

    width:32px;
    height:32px;

    border-radius:50%;

    background:#f39c12;
    color:white;

    font-weight:bold;

}

.estado-activo{

    color:#28a745;
    font-weight:bold;

}

.estado-inactivo{

    color:#dc3545;
    font-weight:bold;

}

</style>



<!--fin tabla--->


{% else %}

<p>
    No tiene asistencia asignada
</p>


{% endif %}

<script>


document
.getElementById("chkActivos")
.addEventListener("change", cargarPersonas);

document
.getElementById("chkInactivos")
.addEventListener("change", cargarPersonas);

function formatDate(fecha){

    let d = new Date(fecha);

    return `${String(d.getDate()).padStart(2,'0')}/
    ${String(d.getMonth()+1).padStart(2,'0')}/
    ${d.getFullYear()}`;

}



function cargarPersonas(){

    let usuario = "{{ user.username }}";
    let index = 0;

    let activos = document.getElementById("chkActivos").checked;
    let inactivos = document.getElementById("chkInactivos").checked;

    let estado = "";

    if(activos && !inactivos){
        estado = "activo";
    }
    else if(!activos && inactivos){
        estado = "inactivo";
    }
    else{
        estado = "todos";
    }

    fetch(`/api/personas/filtro?usuario=${usuario}&estado=${estado}`)

    .then(response => response.json())

    .then(data => {

        let tbody = document.getElementById("body");
        
        tbody.innerHTML = "";

        data.forEach((persona, index) => {

            tbody.innerHTML += `

            <tr>
                <td>
                    <span class="indice">
                        ${index + 1}
                    </span>
                </td>

                <td>
                    <span class="badge">
                        ${persona.codigo}
                    </span>
                </td>

                <td>${persona.nombre}</td>

                <td>${persona.apellidos}</td>

                <td>${formatDate(persona.fechaNacimiento)}</td>

                <td>
                    ${
                    persona.estado
                    ? '<span class="estado-activo">Activo</span>'
                    : '<span class="estado-inactivo">Inactivo</span>'
                    }
</td>

            </tr>

            `;
        });

    });

}



cargarPersonas();



// buscador

document
.getElementById("search")
.addEventListener("keyup",function(){


let texto=this.value.toLowerCase();


let filas=document.querySelectorAll("#body tr");


filas.forEach(fila=>{


if(fila.innerText.toLowerCase().includes(texto)){

    fila.style.display="";

}else{

    fila.style.display="none";

}


});


});



</script>


{% endblock %}